.about-me-section {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  color: #000000;
  background-color: #000000;
}

.about-me-content {
  height: 40vw;       /* same height as width for square shape */
  overflow: auto;     /* scrollable if content overflows */
  padding-right: 10px; /* optional: to prevent scrollbar overlapping text */
  box-sizing: border-box;
}


.about-me-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif; /* example font */
}
z
.about-section h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #a19da5;
}

.about-section h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ccc;
}

ul {
  list-style-type: disc;
  color: #bbb;
}

p, li {
  line-height: 1.5;
  font-size: 1.1rem;
}

a {
  color: #7B7481;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cubes {
  width: 50vw;
}
