.certificates-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3rem;
  background: black;
  min-height: 100vh;
}


.certificate-card {
  background: rgba(20, 20, 20, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
    align-items: stretch;
}

.certificate-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.3);
}

.certificate-image {
  width: 65%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.certificate-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.certificate-title {
  color: #00ffff;
  font-size: 1.3rem;
  font-weight: bold;
}

.certificate-issuer {
  color: #ccc;
  font-size: 0.95rem;
}

.certificate-date {
  font-size: 0.85rem;
  color: #999;
}

.certificate-category {
  display: inline-block;
  background: rgba(0, 255, 255, 0.15);
  border: 1px solid rgba(0, 255, 255, 0.4);
  color: #00ffff;
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
}

.certificate-description {
  color: #aaa;
  font-size: 0.9rem;
  line-height: 1.4;
}

.certificate-link {
  margin-top: auto;
  align-self: flex-start;
  color: #00ffff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.certificate-link:hover {
  color: #00b3b3;
}
