.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.285);
  padding: 0px 40px; /* 40px keeps some space from right edge */
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); /* bottom edge line */
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 30px; /* space between dividers and items */
}

.nav-item {
  cursor: pointer;
  padding: 90px;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.437); /* light divider */
}
