.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.resume-section {
  width: 70%;
  margin: 0rem 15%;
  color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.resume-header {
  text-align: center;
  margin-bottom: 3rem;
  position: relative; /* needed for absolute positioning of button */
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.owner-name {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #bebebe;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  color: #555;
}

.contact-info span {
  color: #bebebe;
  text-decoration: none;
  transition: color 0.2s ease;
}

.contact-info span:hover {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.contact-info a {
  color: #bebebe;
  text-decoration: none;
  transition: color 0.2s ease;
}

.contact-info a:hover {
  color: #ffffff;
  text-decoration:none;
}

.resume-parts {
  margin-top: 1rem;
}

.resume-part {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.part-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ffffff;
  border-left: 5px solid #ffffff;
  padding-left: 0.5rem;
}

.sub-parts {
  margin-left: 1rem;
}

.sub-part {
  margin-bottom: 1.5rem;
}

.sub-part-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.sub-part-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #dcdcdc;
  margin-right: 1rem;
}

.sub-part-location {
  font-size: 1rem;
  color: #b5b4b4;
  font-style: italic;
}

.sub-part-dates {
  font-size: 0.9rem;
  color: #868585;
  white-space: nowrap;
  margin-left: auto;
}

.description-list {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: #b5b4b4;
}

.description-text {
  margin-left: 1rem;
  color: #dcdcdc;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  padding: 2rem 0;
}

.download-pdf-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  color: #999;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.25s ease;
  font-size: 15px;
  font-style: italic;
}

.download-pdf-btn:hover {
  color: #dcdcdc;
}
