.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.button-container .directory-button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #4a90e2;
  color: white;
  transition: background-color 0.3s;
}

.button-container .directory-button:hover {
  background-color: #357ab8;
}
