.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-family: "Space Grotesk", sans-serif;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}