.carousel-container {
  width: 700px; /* container width */
  height: 450px; /* fixed height to keep square */
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
  height: 90%; /* full height */
  gap: 16px; /* spacing between items */
  width: auto; /* will be controlled by JS */
}

.carousel-item {
  width: 700px; /* fixed width */
  height: 450px; /* fixed height */
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #0D0716;
  overflow: hidden;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 1px solid #555;
}

.carousel-item.round {
  background-color: #0D0716;
  position: relative;
  bottom: .1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #333333;
}

.carousel-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.carousel-item-header {
  padding: 20px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.carousel-icon-container {
  display: flex;
  height: 100%;
  width: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: #060010;
}

.carousel-item-content {
  padding: 0px;
  padding-bottom: 0px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.carousel-item-description {
  font-size: 14px;
  color: #fff;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #fff;
}

.carousel-indicator.inactive {
  background-color: #555;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  pointer-events: none;
}