@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.certificates-grid-container {
  background-image: url('../../assets/certificates-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.certificate-section-title {
  padding: 50px;
  font-size: 70px;
  text-align: center;
  color: white;
  background: transparent;
  margin: 0;
  font-family: "Exo", sans-serif;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
  background-image: url('../../assets/certificates-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.certificate-card {
  background: rgba(0, 0, 0, 0.868);
  filter: grayscale(0.2);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.certificate-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.3);
  filter: grayscale(0);
}

.certificate-image-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate-image {
  height: 300px;
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
}

.certificate-link-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #605f5f;
  font-size: 1.3rem;
  padding: 6px;
  border-radius: 50%;
  transition: color 0.3s ease;
}

.certificate-link-icon:hover {
  color: #fff;
}

.certificate-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  filter: grayscale(0.2);
  font-family: "Open Sans", sans-serif;
}

.certificate-title {
  color: #c0c0c0;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Jost", sans-serif;
}

.certificate-issuer, .certificate-category {
  color: #aaa;
  font-size: 0.95rem;
  font-family: "Golos Text", sans-serif;
  display: flex;
  flex-direction: row;
}

.certificate-description {
  color: #999;
  font-size: 0.9rem;
  line-height: 1.4;
  font-family: "Didact Gothic", sans-serif;
}
